/* div {
  border: 1px solid blue;
} */

.content {
  margin-top: 50px;
  margin-bottom: 50px;
}


/*recipes */
.defaultsink {
    position: absolute; left: -100%;
}

.active, .btn:hover {
  background-color: #666;
  color: white;
}

/* recipes: tile view */
img[class^="food-img"] {
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.overlay-container {
  position: relative
}

p[class^="tile-caption"] {
  margin-bottom: 0
}

.tile-caption-sm {
  font-size: 15px;
}

.tile-caption-md {
  font-size: 20px;
}

.tile-caption-lg {
  font-size: 25px;
}

/* recipes: modal view */
.food-img-modal {
  min-height: 300px;
  height: 23vw;
  width: 100%;
  object-fit: cover;
}

.carousel-inner {
    border-radius: 5px;
}

/* add recipe */
.show-preview-img {
  height: 20vw;
  width: 20vw;
  object-fit: cover;
  margin-top: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.hide-preview-img {
  display: none
}

/*meals*/
.meals-body {
  padding-left: 200px;
  padding-right: 200px;
}

.col-right {
  margin-left: -15px;
}

.col-left {
  margin-left: 15px;
}

.food-img-2 {
  min-height: 400px;
  height: 35vw;
}

.food-img-4 {
  min-height: 200px;
  height: 17.5vw;
}

/* for 5 */
.food-img-3 {
  min-height: 133px;
  height: 11.66vw;
}
